{% extends "main.html" %}

{% block content %}

    <!--- layout --->
    <div class="layout">

        <!--- column left --->
        <div class="column column--leftright"></div>

        <!--- column middle --->
        <div class="column column--middle">
            {% if user.is_staff %}
                <h1>Welcome Staff , {{ request.user.first_name }}</h1>
            {% else %}
                <h1>Welcome, {{ request.user.first_name }}</h1>
            {% endif %}
            <p>
                Username: {{ request.user.username }} <br>
                Email: {{ request.user.email }}
            </p>
            <br>
            <p1><b> Instruction </b></p1>
            <p>
                {% if user.is_staff %}
                    <li> Click Course, to view course info</li>
                {% else %}
                    <li> Click Course, to view your course</li>
                    <li> Click Registration, to register your course</li>
                {% endif %}
            </p>
        </div>

        <!--- column right --->
        <div class="column column--leftright"></div>

    </div>

{% endblock %}